.page {
	&__header {
	}

	&__top {
		height: 800px;
		position: relative;

		&--logo {
			padding: 35px 0 0 40px;
		}

		.ttl_cont {
			text-align: center;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			position: absolute;

			&__title {
				color: #fff;
				@include font-line(46);
			}

			&__sub {
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 700;
				color: #fff;
				letter-spacing: 0.2rem;

				@include font-line(22);
			}
		}
	}
}
