.sect_3 {
	background-color: #f5f5f5;

	.l-wrap {
		width: 1340px;
		padding: 0;

		@include is-max(1340px) {
			padding: 0 25px;
			width: 100%;
		}

		.sect_3__header {
			text-align: center;
			padding-top: 110px;
			padding-bottom: 80px;

			@include is-max(750px) {
				padding-top: 60px;
				padding-bottom: 50px;
			}

			.title {
				font-family: "cross-platform-yu-gothic";
				font-weight: 700;
				@include font-line(24);
			}

			.text {
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 700;
				@include font-line(18);
				letter-spacing: 1px;
			}
		}

		ul {
			display: flex;
			justify-content: space-between;
			gap: 40px;
			padding-bottom: 125px;
			position: relative;

			@include is-max(750px) {
				flex-wrap: wrap;

				&::before {
					content: 'PREV';
					position: absolute;
					top: 88%;
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 700;
					font-size: .875rem;
					letter-spacing: 1px;
					left: 55px;
	
					@include is-max(600px) {
						top: 82%;
					}

					@include is-max(400px) {
						left: 0;
					}
				}
	
				&::after {
					content: 'NEXT';
					position: absolute;
					top: 88%;
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 700;
					font-size: .875rem;
					letter-spacing: 1px;
					right: 55px;
	
					@include is-max(600px) {
						top: 82%;
					}

					@include is-max(400px) {
						right: 0;
					}
				}

			}

			li {
				width: calc(100% / 3);

				@include is-max(750px) {
					width: 100%;

					img {
						width: 100%;
					}
				}

				.text {
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 700;
					@include font-line(18);
					padding-top: 20px;
				}
			}

		
		}

		.foot {
			position: relative;
			text-align: center;
			padding: 0 0 45px 0;

			@include is-max(750px) {
				display: none;
			}

			.text {
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 700;
				@include font-line(16);
			}

			.line {
				position: absolute;
				z-index: 3;
				bottom: 0;
				right: 0;
				left: 0;
				width: 1px;
				height: 40px;
				margin: 0 auto;
				background-color: #000;
				display: block;
				overflow: hidden;

				&::before {
					content: "";
					display: block;
					position: absolute;
					z-index: 4;
					top: -30px;
					left: 0;
					right: 0;
					width: 1px;
					height: 15px;
					background-color: #f5f5f5;
					animation: fullheight 2s infinite;
				}

				@keyframes fullheight {
					100% {
						top: 40px;
					}
				}
			}
		}
	}

	.slick-slide {
		padding: 0px 20px !important;

		@include is-sp {
			padding: 0px 0px !important;
		}
	}
}
