.sect_1 {
	&__wrapper {
		text-align: center;
		position: relative;

		.bg_grey {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}

		.l-wrap {
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 95px;

			@include is-sp {
				padding-left: 25px;
				padding-right: 25px;
			}
		}

		.title {
			font-family: "cross-platform-yu-gothic";
			font-weight: 700;

			@include font-line(24);
		}

		.sub {
			font-family: noto-sans-cjk-jp, sans-serif;
			font-weight: 700;

			@include font-line(18);
		}

		.sched_cont {
			display: flex;
			text-align: left;
			justify-content: space-between;
			padding: 50px 0 95px 0;
			position: relative;

			&__item {
				width: calc(100% / 330px);

				img {
					@include is-sp {
						width: 90%;
					}
				}

				.desc {
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 700;
					padding: 20px 0 0 0;

					@include font-line(18);
				}

				.sub_desc {
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 600;
					padding: 15px 0 0 0;

					@include font-line(16);
				}
			}
		}
	}
}
